<!DOCTYPE html>
<html lang="en">
    <head>
      {%- block site_meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if page and page.is_homepage %}<meta name="description" content="{{ config['site_description'] }}">{% endif %}
        {% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
        {% if page and page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ 'img/favicon/apple-icon-57x57.png'|url }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ 'img/favicon/apple-icon-60x60.png'|url }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ 'img/favicon/apple-icon-72x72.png'|url }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ 'img/favicon/apple-icon-114x114.png'|url }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ 'img/favicon/apple-icon-120x120.png'|url }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ 'img/favicon/apple-icon-76x76.png'|url }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ 'img/favicon/apple-icon-144x144.png'|url }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ 'img/favicon/apple-icon-152x152.png'|url }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ 'img/favicon/apple-icon-180x180.png'|url }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ 'img/favicon/android-icon-192x192.png'|url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ 'img/favicon/favicon-32x32.png'|url }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ 'img/favicon/favicon-96x96.png'|url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ 'img/favicon/favicon-16x16.png'|url }}">
        <link rel="manifest" href="{{ 'img/favicon/manifest.json'|url }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ 'img/favicon/ms-icon-144x144.png'|url }}">
        <meta name="theme-color" content="#ffffff">
      {%- endblock %}

      {%- block htmltitle %}
        <title>{% if page and page.title and not page.is_homepage %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
      {%- endblock %}

      {%- block styles %}
        <link href="{{ 'css/bootstrap-custom.min.css'|url }}" rel="stylesheet">
        <link href="{{ 'css/font-awesome.min.css'|url }}" rel="stylesheet">
        <link href="{{ 'css/base.css'|url }}" rel="stylesheet">
        <link href="{{ 'css/custom.css'|url }}" rel="stylesheet">
        <link href="{{ 'css/plucss.css'|url }}" rel="stylesheet">
        <link href="{{ 'css/plx-common.css'|url }}" rel="stylesheet">
        {%- if config.theme.highlightjs %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/{{ config.theme.hljs_style }}.min.css">
        {%- endif %}
        {%- for path in config['extra_css'] %}
        <link href="{{ path|url }}" rel="stylesheet">
        {%- endfor %}
      {%- endblock %}

      {%- block libs %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="{{ 'js/jquery-1.10.2.min.js'|url }}" defer></script>
        <script src="{{ 'js/bootstrap-3.0.3.min.js'|url }}" defer></script>
        {%- if config.theme.highlightjs %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        {%- for lang in config.theme.hljs_languages %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{lang}}.min.js"></script>
        {%- endfor %}
        <script>hljs.initHighlightingOnLoad();</script>
        {%- endif %}
      {%- endblock %}

      {%- block extrahead %} {% endblock %}
    </head>

    <body{% if page and page.is_homepage %} class="homepage"{% endif %}>

      <div id="plxnav" data-title="Wiki" data-logo="yellow"></div>

      <div class="wrapper">

        <div class="navbar" role="navigation">
            <div class="container">

                <div class="responsive-menu">
                	<label for="Menu"></label>
                	<input type="checkbox" id="Menu">
                  {%- if nav|length>1 %}
                  <ul class="menu vertical expanded sml-show med-hide">
                    {%- for nav_item in nav %}
                      <li class="">
                        <a class="{% if nav_item.active %}active{% endif %}" href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
                      </li>
                    {%- endfor %}
                  </ul>
                  {%- endif %}
                </div>

                <div class="navbar-collapse collapse sml-show med-show">
                      <ul class="nav navbar-nav sml-hide med-show">
                        <li>
                            <a href="https://wiki.pluxml.org">{{ config.site_name }}</a>
                        </li>
                      </ul>

                    <ul class="nav navbar-nav navbar-right">
                      {%- block search_button %}
                        {%- if 'search' in config['plugins'] %}
                        <li>
                            <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                        {%- endif %}
                      {%- endblock %}

                      {%- block repo %}
                        {%- if page and page.edit_url %}
                            <li>
                                <a href="{{ page.edit_url }}">
                                    {%- if config.repo_name == 'GitHub' -%}
                                        <i class="fa fa-github"></i> Edit on {{ config.repo_name }}
                                    {%- elif config.repo_name == 'Bitbucket' -%}
                                        <i class="fa fa-bitbucket"></i> Edit on {{ config.repo_name }}
                                    {%- elif config.repo_name == 'GitLab' -%}
                                        <i class="fa fa-gitlab"></i> Edit on {{ config.repo_name }}
                                    {%- else -%}
                                    Edit on {{ config.repo_name }}
                                    {%- endif -%}
                                </a>
                            </li>
                        {%- elif config.repo_url %}
                            <li>
                                <a href="{{ config.repo_url }}">
                                    {%- if config.repo_name == 'GitHub' -%}
                                        <i class="fa fa-github"></i> {{ config.repo_name }}
                                    {%- elif config.repo_name == 'Bitbucket' -%}
                                        <i class="fa fa-bitbucket"></i> {{ config.repo_name }}
                                    {%- elif config.repo_name == 'GitLab' -%}
                                        <i class="fa fa-gitlab"></i> {{ config.repo_name }}
                                    {%- else -%}
                                    {{ config.repo_name }}
                                    {%- endif -%}
                                </a>
                            </li>
                        {%- endif %}
                      {%- endblock %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
          <div class="grid">
            {%- block content %}
                <div class="col med-2 sml-hide med-show">{% include "nav.html" %}</div>
                {% if page.is_homepage %}
                    <div class="col med-10" role="main">{% include "content.html" %}</div>
                {% endif %}
                {% if not page.is_homepage %}
                    <div class="col med-7" role="main">{% include "content.html" %}</div>
                    <div class="col med-3 sml-hide med-show toc">{% include "toc.html" %}</div>
                {% endif %}
            {%- endblock %}
          </div>
        </div>

        <footer class="sml-12">
          {%- block footer %}
            <hr>
            {%- if config.copyright %}
                <p>{{ config.copyright }}</p>
            {%- endif %}
            <p>PluXml.org - Blog ou Cms à l'Xml !</p>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a> and <a href="https://plucss.pluxml.org">PluCSS</a>.</p>
          {%- endblock %}
        </footer>

      {%- block scripts %}
        <script src="https://medias.pluxml.org/navigation/nav.js"></script>
        <script>
            var base_url = {{ base_url | tojson }},
                shortcuts = {{ config.theme.shortcuts | tojson }};
        </script>
        <script src="{{ 'js/base.js'|url }}" defer></script>
        {%- for path in config['extra_javascript'] %}
        <script src="{{ path|url }}" defer></script>
        {%- endfor %}
      {%- endblock %}

        {% if 'search' in config['plugins'] %}{%- include "search-modal.html" %}{% endif %}
        {%- include "keyboard-modal.html" %}

      </div>

    </body>
</html>
